@import "bootstrap";

/* universal */

$blue: #49AFCD;
$gray: #999;

html {
  overflow-y: scroll;
}

body {
  background-image: image-url("tiny_grid.png");
  padding-top: 110px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
 
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  padding-top: 9px;
  line-height: 1;
}

.navbar-inner {
  background-image: none;
  background-color: #ccc;
  min-height: 80px;
}

.navbar .nav > li > a {
  color: #555;
  margin: 20px 0;

  &:hover {
    color: #777;
  }
}

.navbar .btn {
  margin: 22px 0;
  color: #555;
}

.center {
  text-align: center;
}

.blue {
  color: $blue;
}

small {
  color: $gray;
  font-size: 12px;
}

.gray {
  color: $gray;
}

.splitter {
  &.left {
    float: left;
  }
  
  &.right {
    float: right;
  }

  width: 45%; 
  margin: 9px 0;
}

a {
  color: $blue;
}

.login-bg {
  font-size: 16px;
  margin-top: 25px; 
  padding: 20px 13px;
  text-align: left;
  background-color: rgba(73, 175, 205, 0.5);
  box-shadow: 1px 1px 10px 5px rgba(73, 175, 205, 0.6);

  a {
    margin-top: -10px;
    &:hover {
      cursor: pointer;
    }
  }
}

footer {
  z-index: 1030;
  margin: 130px 0 0 0;
  color: #bbb;
  background-color: #555;
  padding: 20px 0px;
}
